
project_id = "YOUR_PROJECT_ID"

region            = "asia-south1"
zone              = "asia-south1-a"
cluster_name      = "gke-argocd-cluster"
network_name      = "gke-vpc"
subnet_name       = "gke-subnet"
node_machine_type = "e2-standard-2"
node_count        = 3
node_disk_size_gb = 50
node_disk_type    = "pd-standard"
letsencrypt_email = "your-email@example.com"

argocd_namespace     = "argocd"
argocd_chart_version = "9.5.21"

master_authorized_networks = "YOUR_IP_CIDR"
master_ipv4_cidr_block     = "172.16.0.0/28"
eso_managed_secrets        = []

# Approximate Monthly Cost: ~$95 (3x e2-standard-2 nodes, zonal cluster, standard disks)
